## Working directory

In [5]:
import os
import sys
print("Before:current working directory is", os.getcwd())
path="D:/user/inceptez/pythonassignment"
os.chdir(path)
print("After:current working directory is", os.getcwd())

Before:current working directory is D:\user\inceptez
After:current working directory is D:\user\inceptez\pythonassignment

## Create the string, int and float variable and delete them all in the next cell

In [8]:
##interger variable

a=30101994

##float variable

Pi=3.14

##string variable

b="haha"

print(a)
print(Pi)
print(b)

del(a,Pi,b)

##post deletion nothings gets printed
print(a)
print(Pi)
print(b)

30101994
3.14
haha

NameError: name 'a' is not defined

## Result of assigning a value to a ‘keyword’

In [14]:
## invalid syntax error. Keyword cannot be used as a variable name/ for assigning values.

list=123
print(import)

SyntaxError: invalid syntax (Temp/ipykernel_10100/2955683875.py, line 2)

## How to write a multi-line statement and assign it to a variable

In [17]:
name="""Lets explore the world
Life is all about experience"""
print(name)

Lets explore the world
Life is all about experience

# Print the list of numbers from 100 to 999 with an interval (step size) of 8 between the numbers

In [18]:
list(range(100,999,8))

[100,
 108,
 116,
 124,
 132,
 140,
 148,
 156,
 164,
 172,
 180,
 188,
 196,
 204,
 212,
 220,
 228,
 236,
 244,
 252,
 260,
 268,
 276,
 284,
 292,
 300,
 308,
 316,
 324,
 332,
 340,
 348,
 356,
 364,
 372,
 380,
 388,
 396,
 404,
 412,
 420,
 428,
 436,
 444,
 452,
 460,
 468,
 476,
 484,
 492,
 500,
 508,
 516,
 524,
 532,
 540,
 548,
 556,
 564,
 572,
 580,
 588,
 596,
 604,
 612,
 620,
 628,
 636,
 644,
 652,
 660,
 668,
 676,
 684,
 692,
 700,
 708,
 716,
 724,
 732,
 740,
 748,
 756,
 764,
 772,
 780,
 788,
 796,
 804,
 812,
 820,
 828,
 836,
 844,
 852,
 860,
 868,
 876,
 884,
 892,
 900,
 908,
 916,
 924,
 932,
 940,
 948,
 956,
 964,
 972,
 980,
 988,
 996]

# Write a “for” loop to print out the ‘n’ values and break out of the statement if the value is ‘n/2’

In [41]:
def func(n):
    for n in range(1,10):
        if n == (n/2):
            break
            
        else:
            print(n)
func(3)

1
2
3
4
5
6
7
8
9

## Write a simple function and call the docstring from outside the function

In [86]:
def add(x,y):
    
    """addition program let's have fun with addition"""
    
    a=x+y
    print(a)
    
add(3,15)

18

In [82]:
print(add.__doc__)

addition program let's have fun with addition

## Area of triangle

In [107]:
from mypackage import mydata

In [132]:
def peri():
    s=((mydata.x+mydata.y+mydata.z)/2)
    print("The perimeter of the triangle is ",s)
    ar(s)
        
def ar(s):
    c=((s*(s-mydata.x)*(s-mydata.y)*(s-mydata.z))** 0.5)
    print("area of triangle is ",c)

peri()

The perimeter of the triangle is  41.5
area of triangle is  (3.097937745838546e-14+505.93162828587816j)

## List comprehension to print the odd numbers from 0 to 100

In [15]:
oddnum= [a for a in range(0,101) if a%2!=0]
print(oddnum)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

## Name without vowels

In [18]:
name='MADHUBALA'
vowels='AEIOU'
n1=[a for a in name if a not in vowels]
print(n1)

['M', 'D', 'H', 'B', 'L']