## Data type conversion

In [ ]:
float(10)

In [2]:
int(10.5)

10

In [3]:
float('5.5')

5.5

In [4]:
str(20)

'20'

## Conversion of sequences from one to another

In [5]:
set([1, 2, 5, 7, 7])

{1, 2, 5, 7}

In [6]:
tuple({5, 81, 68, 68})

(81, 68, 5)

In [7]:
list('WORD')

['W', 'O', 'R', 'D']

In [8]:
print(dict([["Name", "John"], [10, 50]]))

{'Name': 'John', 10: 50}

## Type conversion

## 
Implicit conversion
and 
Explicit conversion

In [9]:
int_var = 587
float_var = 55.7

conversion1 = int_var + float_var

print('Datatype of int_var is: ', type(int_var))
print('Datatype of float_var is: ', type(float_var))
print('The new value after conversion is: ', conversion1)
print('Datatype of conversion1 is: ', type(conversion1))

Datatype of int_var is:  <class 'int'>
Datatype of float_var is:  <class 'float'>
The new value after conversion is:  642.7
Datatype of conversion1 is:  <class 'float'>

In [10]:
int_var = 587
string_var = "55.7"

conversion1 = int_var + string_var

print('Datatype of int_var is: ', type(int_var))
print('Datatype of string_var is: ', type(float_var))
print('The new value after conversion is: ', conversion1)
print('Datatype of conversion1 is: ', type(conversion1))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [11]:
int_var = 587
string_var = "55.7"

conversion1 =  float(string_var) + (int_var )

print('Datatype of int_var is: ', type(int_var))
print('Datatype of string_var is: ', type(float_var))
print('The new value after conversion is: ', conversion1)
print('Datatype of conversion1 is: ', type(conversion1))

Datatype of int_var is:  <class 'int'>
Datatype of string_var is:  <class 'float'>
The new value after conversion is:  642.7
Datatype of conversion1 is:  <class 'float'>

## Input

In [12]:
num = input('Enter the first number: ')
num1 = input('Enter the second number: ')


add = num + num1
print(add)

Enter the first number: 1
Enter the second number: 5
15

In [13]:
a = eval('10+8')
print(a)

18

## operators:

In [15]:
x = 10
y = 4

print(x + y)
print(x - y)
print(x * y)
print(x/y)
print((x//y))
print(x**y)
print(x%y)

14
6
40
2.5
2
10000
2

In [16]:
round(2.8)

3

## Logical operator

In [18]:
x = True
y = False
z = True

print(x and y)
print(x or y)
print(not x)
print( not y)
print( not z)

False
True
False
True
False

## Assignment operator

In [19]:
x1 = 15
y1 = 15

x2 = 'Hello'
y2 = 'Hello'

x3 = [15, 2, 3]
y3 = [15, 2, 3]

x4 = (1, 2, 3)
y4 = (1, 2, 3)

x5 = {1, 5, 8}
y5 = {1, 5, 8}

In [20]:
print(x1 is y1)
# print(x1 is not y1)

True

In [21]:
print(x2 is y2)

True

In [22]:
print(x3 is y3)

False

In [23]:
print(x4 is y4)

False

In [24]:
print(x5 is y5)

False

In [25]:
id(x1), id(y1)

(1527041649392, 1527041649392)

In [26]:
id(x2), id(y2)

(1527122616688, 1527122616688)

In [27]:
id(x3), id(y3)

(1527122824000, 1527122823808)

In [28]:
id(x3[0]), id(y3[0])

(1527041649392, 1527041649392)

## Membership Operators

In [31]:
x = 'Hello world'
y = {10: 'a', 12: 'b', 10:'d', 12:'l'}

In [30]:
y[12]

'l'

In [32]:
print('H' in x)

True

In [33]:
print('hello' not in x)

True

In [34]:
print(10 in y)

True

In [35]:
print('a' in y)

False

## if statement

In [36]:
num = int(input('Enter the value:'))

if num >= 0:
    print('Positive')
else:
    print('Negative')

Enter the value:-5
Negative

## If else

In [38]:
num = int(input('Enter the value:'))

if num > 0:
    print('Positive')
elif num == 0: #else if
    print('Zero')
else:
    print('Negative')

Enter the value:-7
Negative

## Nested if

In [40]:
num = int(input('Enter the value:'))

if num >= 0:
    if num == 0:
        print('Zero')
    else:
        print('Positive')
else:
    print('Negative')

Enter the value:-2
Negative

## For loop

In [41]:
# list = [1, 2, 3, 4, 5]

In [42]:
list({'Delhi', 'Chennai', 'Kolkata'})

['Kolkata', 'Delhi', 'Chennai']

In [43]:
del list

NameError: name 'list' is not defined

In [44]:
list1[{}]

NameError: name 'list1' is not defined

In [45]:
list1 = [5, 6, 8, 10]

In [46]:
list1[2]

8

In [47]:
list[2]

list[2]

In [50]:
list1[0] = 10

In [51]:
list1

[10, 6, 8, 10]

In [52]:
list([1, 52, 32])

[1, 52, 32]

In [53]:
var_list = [5, 21, 63]

In [54]:
type(var_list)

list

In [55]:
var_list2 = list([5, 21, 63])

In [56]:
type(var_list2)

list

In [57]:
list1 = [12, 13, 14, 15]
add = 0

for i in list1:
    add = add + i # 0 + 12 = 12    
    print(add) # loop print statement
print('The final value of add is ', add)

12
25
39
54
The final value of add is  54

In [58]:
list1 = [12, 13, 14, 15]
add = 0

for i in list1:
    if i == 14:
        continue
    print(i)

12
13
15

In [59]:
list_city = ['Chennai', 'Kolkata', 'Mumbai']
len(list_city)

3

In [60]:
list(range(len(list_city)))

[0, 1, 2]

In [61]:
for i in range(len(list_city)):
    print('I like to go to: ', list_city[i])

I like to go to:  Chennai
I like to go to:  Kolkata
I like to go to:  Mumbai

In [62]:
num = [1, 10, 100]

for i in num:
    print('I have ', i, 'days')
    
else:
    print('Else block')

I have  1 days
I have  10 days
I have  100 days
Else block

In [63]:
num = [1, 10, 100]

for i in num:
    if i==10:
        break
    print('the number is: ', i)
else:
    print('I have', i, 'days')

the number is:  1

## While loop

In [64]:
#sum of numbers

num = int(input('Enter the number'))

i = 0
sum_var = 0

while i < num:
    sum_var = sum_var + i
#     print(i)
    i = i + 1 #update this counter


print('The sum of numbers is :' ,sum_var)

#0+1+2+3+4

Enter the number5
The sum of numbers is : 10

In [65]:
i = 0
sum_var = 0

while i < num:
    i = i + 1
else:
    print(i)

5

## Break, continue and pass

In [67]:
for i in 'Country':
    if i in ['r', 'r']:
        break
    print(i)

C
o
u
n
t

In [68]:
for i in 'Country':
    if i == 'r':
        continue
    print(i)

C
o
u
n
t
y

In [69]:
#pass statement explanation

list_val = ['P', 'a', 's', 's']

for i in list_val:
    pass #add some logic later

## Functions

In [70]:
def greetings(name):
    """Function to greet someone"""
    print("Hello", name, "How're you")

In [71]:
greetings('guys')

Hello guys How're you

In [72]:
print(greetings.__doc__)

Function to greet someone

In [73]:
def Absoluteval(val):
    val1=abs(val)
    return val1

In [74]:
ret_var = Absoluteval(-9)
ret_var

9

In [75]:
def value(k):
    if k>0 :
        print (k)
    elif k<0:
        t= k * -1
        print(t)
value(-9)

9

In [76]:
def func1(a):
    """test"""
    if a>0:
        print(a)
    else:
        a=a*-1
        print(a)

In [77]:
func1(-8)

8

In [78]:
def absolute(num):
    if(num > 0):
        return num
    else:
        num = -1*num
        return num

In [79]:
absolute(-8)

8

In [80]:
def absolute_val(value):
    """Function to return the absolute value"""
    if value > 0:
        return value
    else:
        return -value

In [81]:
absolute_val(-50)

50

In [82]:
def func():
    a = 10 #local variable
    print('Inside the function ', a)
    
a = 20 #global variable
func()

print('Outside the function', a)

Inside the function  10
Outside the function 20

## Function Arguments

### Positinal aruguments

In [85]:
def greet(arg1, arg2):
    """Function with arguments"""
    print(arg1, arg2, 'everyone!')

In [86]:
greet()

TypeError: greet() missing 2 required positional arguments: 'arg1' and 'arg2'

In [87]:
greet('Good', 'Evening')

Good Evening everyone!

### Default arguments

In [89]:
def greet(arg1, arg2 = "Good morning"):
    print("Hello", arg1, arg2)

In [90]:
greet('people')

Hello people Good morning

In [91]:
greet('people', "How are you")

Hello people How are you

In [92]:
def greet(arg2 = "Good morning", arg1):
    print("Hello", arg1, arg2)

SyntaxError: non-default argument follows default argument (Temp/ipykernel_17952/2964982374.py, line 1)

## Keyword arguments

In [94]:
greet(arg1 = "Hi", arg2 = "Everyone")
greet(arg2 = "Everyone", arg1 = "Hi")
greet("Hi", arg2="Everyone")

Hello Hi Everyone
Hello Hi Everyone
Hello Hi Everyone

In [95]:
greet("Hi",  "Everyone")

Hello Hi Everyone

## Recursion

In [97]:
# factorial of a number
# 5!
#1!

In [98]:
5 * 4 * 3 * 2 * 1

120

In [99]:
def recursion(x):
    if x == 1:
        return x
    else:
        return (x * recursion(x-1))
    
num = 5
print('Factorial of', num, 'is', recursion(num))

Factorial of 5 is 120

## Lamda - Anonymous function

In [101]:
cube = lambda x, y : x*  y
cube(10, 5)

50

## Filter

Filter takes in a function and a list of argument/dict

The function is called with the items in the list, and a new list is returned containing the items for which the functions evaluates to True

In [102]:
my_list = list(range(10))
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [103]:
fil = list(filter(lambda x : x % 2 == 0, my_list))
print('Applying the filter operation: ', fil)

Applying the filter operation:  [0, 2, 4, 6, 8]

## Map

Filter takes in a function and a list of argument/dict

Every items in the list will be returned based on the function that we're performing

In [105]:
my_list = [1, 5, 4, 6, 8, 11, 3, 12]

new_list = list(map(lambda x: x%2, my_list))
print(new_list)

[1, 1, 0, 0, 0, 1, 1, 0]

In [106]:
fil11 = list(map(lambda x : x.upper(), ['a', 'b', 'c']))
print(fil11)

['A', 'B', 'C']

In [107]:
my_dict = {10: 'B', 20: 'A', 30: 'A', 40: 'B', 50: 'A'}  

filt1 = list((filter(lambda x : x > 10, my_dict)))
print(filt1)

[20, 30, 40, 50]

In [108]:
def fun(var):
    letters = ['a', 'e', 'i', 'o', 'u']
    if (var in letters):
        return True
    else:
        return False
    
seq = ['a', 'b', 'c', 'd', 'e']
fil = list(filter(fun,seq))
print (fil)

['a', 'e']